<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="author" content="Yunjee Heo">
		<meta name="keywords" content="REAL">
		<meta name="description" content="Real Entrepreneurship Achievement League website.">
		<meta name="author-date" content="10/03/2016">
		<meta name="location" content="Seoul, Rep of Korea">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="../static/css/real_activity_hackweek.css">
		<link rel="stylesheet" href="../static/css/real_topmenu.css">
		<link rel="stylesheet" href="../static/css/real_footer.css">
    <link rel="shortcut icon" href="../static/res/favicon.ico">
		<!-- font -->
		<link href="http://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet" type="text/css">

		<title>REAL</title>
	</head>
	<body>
		<!-- HEADER -->
	  <header id="header-wrapper">
	    <div class="row">
	      <div class="logo-wrapper">
	        <a href="/"><img src="../static/res/img/logo-white.png" class="logo-real"/></a>
	      </div>
	      <div class="nav-wrapper">
	        <nav id="header-nav">
						<ul class="topnav">
	            <li class="menu-item"><a href="#"></a></li>
	            <li class="menu-item"><a href="/about">ABOUT</a></li>
	            <li class="menu-item"><a href="/portfolio">PORTFOLIO</a></li>
	            <li class="menu-item"><a href="/activity">ACTIVITY</a></li>
	            <li class="menu-item"><a href="/people">PEOPLE</a></li>
	            <li class="icon" style="padding: 1px 19px;">
	              <a href="javascript:void(0);" style="font-size: 23px; margin: 0;" onclick="myFunction()">☰</a>
	            </li>
          </ul>
	        </nav>
	      </div>
	    </div>
	  </header>

		<!-- HACKWEEK -->
	  <div id="activity_hackweek">
			<div class="container-fluid main horizontal" role="main">
				<div class="row-fluid">
					<div class="span8">
						<div class="main-side">
							<div class="img-cont progressive" style="opacity: 1;"></div>
	            <div class="entry-cont progressive" style="opacity: 1;">
		            <div class="span12">
									<h1 class="portfolio-title">HACK WEEK</h1>
									<h2><strong>HACK WEEK의 취지</strong></h2>
									<p>6일동안 매번 다른 팀으로 구성하여 동아리 내부의 기획자, 디자이너, 개발자 서로간의 스타일과 역량을 파악하고 짧게 개발 프로젝트의 프로세스를 경험하기 위해 해커톤을 진행하였습니다. 6일(월~토)간의 해커톤은 한국과학창의재단 및 고려대학교 우정정보통신관에서 오전 10시부터 오후 6시까지 8시간 동안 6번 진행하였습니다. HACK WEEK은 Naver D2의 후원을 받아 진행했습니다.</p>
									<img src="../static/res/img/activity/hackweek/d2.png">
									<!-- <img src="../static/res/img/activity/hackweek/1440563341879.jpeg">
									<img src="../static/res/img/activity/hackweek/1438772294974.jpeg">
									<img src="../static/res/img/activity/hackweek/1438831817527.jpeg">
									<img src="../static/res/img/activity/hackweek/1438832087018.jpeg">
									<img src="../static/res/img/activity/hackweek/1438832092208.jpeg">
									<img src="../static/res/img/activity/hackweek/1440563361543.jpeg">
									<img src="../static/res/img/activity/hackweek/1440563360098.jpeg">
									<img src="../static/res/img/activity/hackweek/1440563351210.jpeg">
									<img src="../static/res/img/activity/hackweek/1440563352568.jpeg">
									<img src="../static/res/img/activity/hackweek/1440563363195.jpeg">
									<img src="../static/res/img/activity/hackweek/1440563365096.jpeg">
									<img src="../static/res/img/activity/hackweek/1440563371643.jpeg">
									<img src="../static/res/img/activity/hackweek/1440563374552.jpeg"> -->
									<p><span id="more-3479"></span></p>
									<h3><strong>HACK WEEK 결과물</strong></h3>
									<p>8시간이라는 짧은 시간동안 해커톤을 진행하다 보니 많은 팀들이 완성에 실패하였습니다. 기획만 3시간 넘게 하며 시간을 보내는 팀도 있었고, 디자인 완성이 마감 1시간 전에 완료되는 팀도 있었으며, 개발자의 역량을 생각하지 않은 기획으로 실제 구현에 실패한 팀도 있었습니다. 완성에 실패한 팀은 아쉽지만 짧은 미니 해커톤을 통해 프로젝트의 전주기를 짧게나마 경험하고 많은 배움을 얻어갈 수 있었습니다. 아래는 완성에 성공한 팀들의 결과물입니다.</p>

									<br><br><br><br><br><br>

									<h4><strong>모두의 술게임</strong></h4>
									<p><b>팀원: 김유로, 김진수, 유인영, 유재효, 김예본, 박종태, 송요셉, 신보배</b></p><br>
									<p><b>모두의 술게임 : 술게임 다모여!</b></p>
									<p>술자리에서 술게임이 기억나지 않는다면? 모두의 술게임으로 분위기를 띄워보자! 2016 신입생 필수어플!  이것만 있으면 복학생도 낄 수 있다!!</p><br>
									<iframe width="420" height="315" src="https://www.youtube.com/embed/X42wO4z6Obs" frameborder="0" allowfullscreen></iframe>
									<p><b>기능</b></p>
									<p>1. 인기 술게임을 랜덤으로 추천</p>
									<p>2. 술게임에 필수적인 Intro BGM 제공</p>
									<p>3. 술게임 방법을 웹툰으로 시각화하여 재밌고 쉽게 설명</p>
									<p>4. 술게임 선행학습 가능하도록 다양한 술게임 리스트 탑재</p>

									<br><br><br><br>

									<h4><strong>맛챠</strong></h4>
									<p><b>팀원: 김희원, 황유진, 배지훈, 송도원, 김민섭, 강민정</b></p><br>
									<p><b>포장<span style="color: #d22a13">맛챠</span>도 검색해서 찾아간다!</b></p>
									<p>나는 단지 붕어빵이 먹고 싶을 뿐인데…</p>
								  <p>이렇게 찾아 다녀야 한다니…</p>
									<p>기껏 찾은 붕어빵이 한마리에 1,000원 이라니?</p><br>
									<iframe width="420" height="315" src="https://www.youtube.com/embed/j_fcNDYhAWk" frameborder="0" allowfullscreen></iframe>
									<p><b>기능</b></p>
									<p>1. 선호 업종, 위치 별 포장마차 검색</p>
									<p>2. 현재 자신의 위치 근처의 포장마차가 지도상에 표시</p>
									<p>3. 포장마차의 위치, 가격, 영업시간, 연락처, 간단한 설명을 볼 수 있음</p>
									<p>4. 푸쉬 알람 기능 – 포장마차 반경 300m 내로 접근 시 푸취 알람이 뜸</p>

									<br><br><br>

									<h4><strong>자니…?</strong></h4>
									<p><b>팀원: 권순우, 김예본, 백동환, 차정민, 이예린</b></p><br>
									<p>새벽 2시, 사람이 가장 감성적인 시간, 헤어진 연인에게서 문자가 온다.</p>
									<p>&nbsp&nbsp“자니…?”</p>
									<p>&nbsp&nbsp”뭐해…?”</p>
									<p>&nbsp&nbsp”보고싶어…”</p>
									<p>그런데 그 문자를 보낸게<span style="color: #f4277d;"> 내 최애</span>라면? 친구의 최애를 사칭하여 문자를 보내보자.</p>
									<p>본격 <span style="color: #f4277d;">덕심</span> 자극 어플 “자니…?”</p>

									<br><br><br>

									<h4><strong>결국엔 다이어트</strong></h4>
									<p><b>팀원: 김상우, 왕대현, 송요셉, 양혜리, 고희원</b></p><br>
									<p>인생을 살면서 한번은 식스팩, 11자 복근을 가지고 싶습니다.</p>
									<p>하지만 우리는 까먹어요…. 다이어트 중이란 것을…</p>
									<p>결국엔 방법을 찾을 것 입니다. 언제나 그래 왔듯이!!</p>
									<p>※ 가족, 연인, 친구, 지인들의 살 빼! 라는 동영상을 보며 다이어트 중이라는 것을 기억합시다.</p><br>

									<iframe width="420" height="315" src="https://www.youtube.com/embed/m8s4J0QFk-4" frameborder="0" allowfullscreen></iframe>

									<p><b>기능</b></p>
									<p>1. 잠금화면으로서의 기능</p>
									<p>2. 다이어트 동기부여 효과</p>
									<p>3. 지인들에게 자연스럽게 추천 가능 (본인의 동영상 or 사진)</p>

									<br><br><br>

									<h4><strong>From Future</strong></h4>
									<p><b>팀원: 배지훈, 김진수, 이인영, 채호경</b></p><br>
									<p>미래의 딸에게 문자 메시지가 온다!</p>
									<p> 이 시대의 신개념 프린세스메이커! </p>
									<p>수시로 일을 벌이는 말괄량이 딸과의 커뮤니케이션!</p><br>
									<p><b>기능</b></p>
									<p>1. 수시로 미래의 딸로부터 문자메시지 수신</p>
									<p>2. 딸의 문자에 대한 선택지를 제공</p>
									<p>3. 선택지에 따른 답변 문자 전송</p>
									<p>4. 선택된 선택지에 따라 딸의 행동 방향이 변함</p>

									<br><br><br>

									<h4><strong>레알추리</strong></h4>
									<p><b>팀원: 김동희, 장어진, 유재효</b></p><br>
									<p><b>레알 추리</b></p>
									<p> 실제 움직이는 표정을 바탕으로 추리하는 스토리 있는 추리게임입니다.</p><br>
									<iframe width="420" height="315" src="https://www.youtube.com/embed/sjsxKY4GbQg" frameborder="0" allowfullscreen></iframe>
									<p><b>기능</b></p>
									<p>1. 추리력이 필요한 추리 퀴즈 제공</p>
									<p>2. 답안 입력 시 채점</p>
									<p>3. 움직이는 표정을 바탕으로 추리</p>

									<br><br><br>

									<h4><strong>병맛</strong></h4>
									<p><b>팀원: 강의정, 김상우, 이인영, 최태은, 김희원</b></p><br>
									<p><b>병맛 : 미디어 중심 음식 소개앱</b></p>
									<p>맛집은 많은데 정작 내가 무엇을 먹고 싶은지 모른다면?</p>
									<p>두 눈으로  직접 음식을 먹는 사람들의 반응을 살펴보자!</p>
									<p>2016년 드디어 1인 가구 시대를 위한 맞춤형 음식앱 출시!</p>
									<p>이제 음식 맛의 느낌과 생동감마저 확인하고 선택하자!</p><br>
									<iframe width="420" height="315" src="https://www.youtube.com/embed/tIpuZtTE5Xs" frameborder="0" allowfullscreen></iframe>
									<p><b>기능</b></p>
									<p>1. 인기 맛집 음식을 랜덤으로 추천</p>
									<p>2. 음식의 맛과 생동감을 두 눈으로 확인 할 수 있도록 먹방 미디어 제공</p>
									<p>3. 음식의 맛과 느낌을 리얼하게 표현하여 식욕과 심미적 만족감 증진</p>
									<p>4. 유저의 현 위치와 가장 가까운 해당 음식 맛집 위치 소개</p>

									<br><br><br>

									<h4><strong>Say!ng</strong></h4>
									<p><b>팀원: 백동환, 차정민, 이예린, 박건희</b></p><br>
									<p><b>세잉: 명언으로 배우는 영어</b></p>
									<p>색다르게 배우는 영어!</p>
									<p>주옥같은 명언을 통해 영어 공부를 해보자</p><br>
									<iframe width="420" height="315" src="https://www.youtube.com/embed/UDLye0AHo9A" frameborder="0" allowfullscreen></iframe>
									<p><b>기능</b></p>
									<p>1. 랜덤으로 바뀌는 명언 위젯</p>
									<p>2. 직접 원하는 명언을 추가하세요</p>
									<p>3. 원문과 번역을 번갈아가며 볼수있습니다 </p>

									<br><br><br>

									<h4><strong>첫 눈</strong></h4>
									<p><b>팀원: 최평강, 양혜리, 박종태, 이지민</b></p><br>
									<p><b>첫 눈</b>에 반하다</p>
									<p>진부한 소개팅은 가라~!</p>
									<p>처음 사람을 볼때 가장 먼저 보는 눈. </p>
									<p>첫 눈을 보고 판단한다! </p>
									<p>블라인드 데이트를 하는 것 같은 짜릿함!</p><br>
									<p><b>기능</b></p>
									<p>1. 등록한 얼굴에서 눈만 공개된다!</p>
									<p>2. 랜덤으로 뽑힌 두 사람의 눈 중에서 선택</p>
									<p>3. 3시간에 한 번씩 새로운 눈을 선택할 수 있음</p>
									<p>4. 마음에 드는 상대를 선택 후 채팅 가능</p>

									<br><br><br>

									<h4><strong>BuyME</strong></h4>
									<p><b>팀원: 유인영, 박승현, 송도원, 유병훈, 남상우, 정민선</b></p><br>
									<p><b>ByeME : 자신을 표현하고 자신을 파세요!</b></p>
									<p>쓸모없는 사람은 없다. 단지 못찾을 뿐이다!</p>
									<p>기존의 방식을 엎는 새로운 스타트업 구인구직 시스템!</p>
									<p>스타트업 기준에 우리를 맞추기 보다는</p>
									<p>이제는 스타트업이 나를 고를 수 있게</p>
									<p>ByeME에서 나를 어필하세요!</p><br>
									<p><b>기능</b></p>
									<p>1. 스타트업 지원자 정보 분류별(개발,디자인,기획) 제공</p>
									<p>2. 해시태그를 이용해 전문분야로 검색 가능</p>
									<p>3. 스타트업이 지원자를 선택했을 때 문자메시지 알림기능 (추후기능)</p>
									<p>4. 내 관심분야 스타트업을 알람으로 추천 (추후기능)</p>

									<br><br><br>

									<h4><strong>Wassup</strong></h4>
									<p><b>팀원: 김진수, 송요셉, 이지민, 양혜리, 김유로</b></p><br>
									<p>택배, 배달음식!! 모든 배달하시는 분들의 필수 앱!!</p>
									<p>빌라, 원룸, 고시 촌에 배달하실 때 대문 비밀번호를 몰라서 번거로우셨죠??</p>
									<p>어플리케이션을 통해 배달 주소의 대문 비밀번호를 바로 확인하세요!</p>
									<p>※ 어플리케이션을 사용하기 위해 배달원 인증이 필요합니다.</p><br>
									<iframe width="560" height="315" src="https://www.youtube.com/embed/e-eaLs-3x_w" frameborder="0" allowfullscreen></iframe>
									<p><b>기능</b></p>
									<p>1. 사용자 인증서비스</p>
									<p>2. 비콘을 통해 대문 앞에서 즉각적인 비밀번호 확인 서비스</p>
									<p>3. 주소 재확인 기능</p>
									<p>4. 비밀번호를 확인한 배달원의 기록 저장</p>
		            </div>
	              <div class="clearfix"></div>
							</div>
						</div>
					</div><!-- container-fluid -->
				</div>
			</div>
		</div>
	  <!-- END HACKWEEK -->

		<!-- FOOTER -->
	  <footer id="copyright" class="copyright-wrapper">
	   <div class="copyright">
	     <div class="footer_logo_wrapper">
	       <a href="/"><img src="../static/res/img/logo-normal.png" class="footer_logo"></a>
	     </div>
	     <p id="footer_txt">© 2016 by REAL. All Rights Reserved.</p>
	   </div>
	  </footer>
	  <!-- END FOOTER -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js" charset="utf-8"></script>
		<script src="../static/js/real_topmenu.js" charset="utf-8"></script>
		<script src="../static/js/real_activity.js" charset="utf-8"></script>
	</body>
</html>
