<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="author" content="Yunjee Heo">
		<meta name="keywords" content="REAL">
		<meta name="description" content="Real Entrepreneurship Achievement League website.">
		<meta name="author-date" content="13/02/2016">
		<meta name="location" content="Seoul, Rep of Korea">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="../static/css/real_about.css">
		<link rel="stylesheet" href="../static/css/real_topmenu.css">
		<link rel="stylesheet" href="../static/css/real_footer.css">
    <link rel="shortcut icon" href="../static/res/favicon.ico">
		<!-- font -->
		<link href="http://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet" type="text/css">

		<title>REAL</title>
	</head>
	<body>
		<!-- HEADER -->
	  <header id="header-wrapper">
	    <div class="row">
	      <div class="logo-wrapper">
	        <a href="/"><img src="../static/res/img/logo-white.png" class="logo-real"></a>
	      </div>
	      <div class="nav-wrapper">
	        <nav id="header-nav">
						<ul class="topnav">
	            <li class="menu-item"><a href="#"></a></li>
	            <li class="menu-item"><a href="/about">ABOUT</a></li>
	            <li class="menu-item"><a href="/portfolio">PORTFOLIO</a></li>
	            <li class="menu-item"><a href="/activity">ACTIVITY</a></li>
	            <li class="menu-item"><a href="/people">PEOPLE</a></li>
	            <li class="icon" style="padding: 1px 19px;">
	              <a href="javascript:void(0);" style="font-size: 23px; margin: 0;" onclick="myFunction()">☰</a>
	            </li>
          </ul>
	        </nav>
	      </div>
	    </div>
	  </header>

		<header id="header-wrapper2">
	    <img class="title-img" src="../static/res/img/about/about_img1.jpg">
	  </header>
	  <!-- END HEADER -->

		<!-- CONTENT -->
		<!-- INTRO -->
		<div id="intro">
			<div class="title-wrapper">
				<div class="info-title">
					<p>"창의적인 아이디어와 뛰어난 기술을 가진 예비창업자들이 SW 창업의 꿈을 실현합니다"</p>
				</div>
			</div>
			<div class="vid-wrapper">
				<iframe src="https://www.youtube.com/embed/dhDbf69FX30" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="explain-wrapper">
				<div class="info-explain">
					<p>REAL은 SW 실전 창업 연합동아리로서</p>
					<p>SW 분야의 창업 경험을 통해 관련 역량을 기르고</p>
					<p>나아가 실제창업을 목표로 합니다.</p>
				</div>
			</div>
		</div>

		<!-- HISTORY -->
		<div id="history">
			<div class="history-wrapper">
				<div class="part">History</div>
			</div>
			<div class="history_list">
				<!-- <img src="../static/res/img/about/history_list.jpg"/> -->
				<nav id="history_nav">
					<ul>
						<li><span class="history_year">2015</span><span class="history_date">02.01</span><img class="history_img" src="../static/res/img/about/history1.jpg"/><span class="history_content">SW 연합 동아리 REAL 창립</span></li>
						<li><span class="history_year"></span><span class="history_date">02.08</span><img class="history_img" src="../static/res/img/about/history2.jpg"/><span class="history_content">1기 오리엔테이션 워크샵</span></li>
						<li><span class="history_year"></span><span class="history_date">02.17</span><img class="history_img" src="../static/res/img/about/history2.jpg"/><span class="history_content">동아리 창업팀 구성, 5개 팀</span></li>
						<li><span class="history_year"></span><span class="history_date">02.20</span><img class="history_img" src="../static/res/img/about/history2.jpg"/><span class="history_content">SBA. 캠퍼스 CEO 왕중왕전 최우수상(MAPIA team)</span></li>
						<li><span class="history_year"></span><span class="history_date">02.28</span><img class="history_img" src="../static/res/img/about/history2.jpg"/><span class="history_content">미니해커톤 및 애자일 세미나 - 애자일코리아 김창준 대표</span></li>
						<li><span class="history_year"></span><span class="history_date">03.15</span><img class="history_img" src="../static/res/img/about/history3.jpg"/><span class="history_content">누리꿈스퀘어 창업 공간 사업 선정(MAPIA team)</span></li>
						<li><span class="history_year"></span><span class="history_date">04.05</span><img class="history_img" src="../static/res/img/about/history2.jpg"/><span class="history_content">사업계획서 세미나 - 동덕여대 주재만 교수</span></li>
						<li><span class="history_year"></span><span class="history_date">04.09</span><img class="history_img" src="../static/res/img/about/history2.jpg"/><span class="history_content">게임 어플리케이션(Color Panic) 출시 (Dalping)</span></li>
						<li><span class="history_year"></span><span class="history_date">04.19</span><img class="history_img" src="../static/res/img/about/history3.jpg"/><span class="history_content">영업 세미나 - 아시아 최연소 억대 연봉 보험왕 이명훈 대표</span></li>
						<li><span class="history_year"></span><span class="history_date">05.04</span><img class="history_img" src="../static/res/img/about/history2.jpg"/><span class="history_content">누리꿈스퀘어 창업 지원 사업 선정(MAPIA team)</span></li>
						<li><span class="history_year"></span><span class="history_date">05.09</span><img class="history_img" src="../static/res/img/about/history2.jpg"/><span class="history_content">마케팅 세미나 - 청년 창업 멘토 드림빈 이계익 대표</span></li>
						<li><span class="history_year"></span><span class="history_date">05.24</span><img class="history_img" src="../static/res/img/about/history3.jpg"/><span class="history_content">1기 중간 워크샵, 각 팀별 중간 발표 및 피드백</span></li>
						<li><span class="history_year"></span><span class="history_date">06.15</span><img class="history_img" src="../static/res/img/about/history2.jpg"/><span class="history_content">부평구청, 청년창업허브조성사업 선정(젤리벨리)</span></li>
						<li><span class="history_year"></span><span class="history_date"></span><img class="history_img" src="../static/res/img/about/history2.jpg"/><span class="history_content">Semisense, 패턴 인식 알고리즘 R&D (MAPIA team)</span></li>
						<li><span class="history_year"></span><span class="history_date">06.28</span><img class="history_img" src="../static/res/img/about/history2.jpg"/><span class="history_content">동아리 홈페이지 개발(웹 스터디 그룹)</span></li>
						<li><span class="history_year"></span><span class="history_date">07.01</span><img class="history_img" src="../static/res/img/about/history2.jpg"/><span class="history_content">신한은행, Future's Lab 최종단계 12팀 선정(컵아이)</span></li>
						<li><span class="history_year"></span><span class="history_date">07.10</span><img class="history_img" src="../static/res/img/about/history2.jpg"/><span class="history_content">프라이머, 프라이머 엔턴십 7기 예비멘토링팀 선정(컵아이)</span></li>
						<li><span class="history_year"></span><span class="history_date">07.22</span><img class="history_img" src="../static/res/img/about/history3.jpg"/><span class="history_content">2기 리크루팅</span></li>
						<li><span class="history_year"></span><span class="history_date">07.27</span><img class="history_img" src="../static/res/img/about/history2.jpg"/><span class="history_content">2기 마이크로 비즈니스(10만원 프로젝트)</span></li>
            <li><span class="history_year"></span><span class="history_date">08.</span><img class="history_img" src="../static/res/img/about/history3.jpg"/><span class="history_content">제주창조혁신센터(Kakao) 입주(TNDN)</span></li>
						<li><span class="history_year"></span><span class="history_date">08.01</span><img class="history_img" src="../static/res/img/about/history2.jpg"/><span class="history_content">2기 오리엔테이션 워크샵</span></li>
						<li><span class="history_year"></span><span class="history_date">08.06</span><img class="history_img" src="../static/res/img/about/history2.jpg"/><span class="history_content">HACK WEEK(08.03 ~ 08.06)</span></li>
						<li><span class="history_year"></span><span class="history_date">08.09</span><img class="history_img" src="../static/res/img/about/history2.jpg"/><span class="history_content">대학생 연합 IT 동아리 해커톤 UNITHON(공동주최 NEXTERS, YAPP, insiders)(08.07 ~ 08.09)</span></li>
						<li><span class="history_year"></span><span class="history_date">08.21</span><img class="history_img" src="../static/res/img/about/history2.jpg"/><span class="history_content">University StartUp WorldCup 본선 진출(Easy Transfer) - Copenhagen</span></li>
						<li><span class="history_year"></span><span class="history_date">08.24</span><img class="history_img" src="../static/res/img/about/history2.jpg"/><span class="history_content">아스피린센터 투자연계 창업 경진대회 우수상(Easy Transfer)</span></li>
						<li><span class="history_year"></span><span class="history_date">09.15</span><img class="history_img" src="../static/res/img/about/history2.jpg"/><span class="history_content">미래창조과학부 K-Global Startup 디지털콘텐츠 랩 챌린지 선발(dodotdo)</span></li>
						<li><span class="history_year"></span><span class="history_date">09.17</span><img class="history_img" src="../static/res/img/about/history2.jpg"/><span class="history_content">중소기업청 창업성장기술개발사업 여성전용과제(dodotdo)</span></li>
						<li><span class="history_year"></span><span class="history_date">10.</span><img class="history_img" src="../static/res/img/about/history2.jpg"/><span class="history_content">nipa 창의도전형 SW R&D 지원사업(TNDN)</span></li>
						<li><span class="history_year"></span><span class="history_date">10.18</span><img class="history_img" src="../static/res/img/about/history2.jpg"/><span class="history_content">2기 중간 워크샵</span></li>
						<li><span class="history_year"></span><span class="history_date">11.10</span><img class="history_img" src="../static/res/img/about/history3.jpg"/><span class="history_content">서울지역 대학 최고 창업 동아리 선발대회 최우수상(2위) 수상</span></li>
						<li><span class="history_year"></span><span class="history_date">11.14</span><img class="history_img" src="../static/res/img/about/history2.jpg"/><span class="history_content">MAP Social Media MAPIA 출시(MAPIA)</span></li>
						<li><span class="history_year"></span><span class="history_date">11.23</span><img class="history_img" src="../static/res/img/about/history3.jpg"/><span class="history_content">3기 리크루팅</span></li>
						<li><span class="history_year"></span><span class="history_date">12.</span><img class="history_img" src="../static/res/img/about/history2.jpg"/><span class="history_content">엑셀레이터, 엔젤유치(TNDN)</span></li>
						<li><span class="history_year">2016</span><span class="history_date">01.16</span><img class="history_img" src="../static/res/img/about/history2.jpg"/><span class="history_content">3기 마이크로 비즈니스(10만원 프로젝트)</span></li>
						<li><span class="history_year"></span><span class="history_date">02.</span><img class="history_img" src="../static/res/img/about/history2.jpg"/><span class="history_content">카페 오프라인 광고 1위 업체 컵아이 합병(TNDN)</span></li>
						<li><span class="history_year"></span><span class="history_date">02.06</span><img class="history_img" src="../static/res/img/about/history2.jpg"/><span class="history_content">HACK WEEK(02.01 ~ 02.06)</span></li>
						<li><span class="history_year"></span><span class="history_date">02.14</span><img class="history_img" src="../static/res/img/about/history2.jpg"/><span class="history_content">대학생 연합 IT 동아리 해커톤 UNITHON(공동주최 NEXTERS, YAPP, insiders)(02.12 ~ 02.14)</span></li>
						<li><span class="history_year"></span><span class="history_date">02.26</span><img class="history_img" src="../static/res/img/about/history5.jpg"/><span class="history_content">3기 오리엔테이션 워크샵</span></li>
					</ul>
				</nav>
			</div>
		</div>

		<!-- LOGO -->
		<div id="logopart">
			<div class="part-wrapper">
				<div class="part">Logo</div>
			</div>
			<div class="logopart_wrapper">
				<div class="logoimg-wrapper">
					<img src="../static/res/img/about/about_logo2.jpg">
				</div>
				<div class="logo_text">
					레알 로고의 디자인 컨셉은 Architecture 입니다. 소프트웨어 제품 구현하는 과정은 현실 세계에 있어 일종의 건축물을 쌓아올리는 그것과 동일하며 기획, 디자인, 개발 중 어느 한 분야라도 빠졌을 때 드러나는 문제점은 명확합니다. 레알에서는 세 직군으로 구성 된 팀원들과의 협업을 통해 실전 창업을 성취한다는 레알의 기본 이념을 Achievement의 앞 글자 A를 이용해 표현했습니다. 이는 건축의 Architecture의 의미를 내포하기도 합니다.
				</div>
				<nav id="logo_meaning">
					<ul>
						<li class="logo_meaning_1">
							<p>WITHOUT PM?</p>
							<img src="../static/res/img/about/about_logo3.jpg"/>
							<p style="font-weight: bold;">UNSTABLE</p>
						</li>
						<li class="logo_meaning_2">
							<p>WITHOUT DESIGNER?</p>
							<img src="../static/res/img/about/about_logo4.jpg"/>
							<p style="font-weight: bold;">CAN'T TELL WHAT IT IS</p>
						</li>
						<li class="logo_meaning_3">
							<p>WITHOUT DEVELOPER?</p>
							<img src="../static/res/img/about/about_logo5.jpg"/>
							<p style="font-weight: bold;">NOT WORKING AT ALL</p>
						</li>
				  </ul>
				</nav>
			</div>
		</div>

		<!-- NABMECARD -->
		<!-- <div id="namecard">
			<div class="namecard-wrapper">
				<div class="part">Name Card</div>
			</div>
			<div class="namecard-img">
				<img src="../static/res/img/about/namecard1.jpg">
				<img src="../static/res/img/about/namecard2.jpg">
			</div>
		</div> -->
		<!-- END CONTENT -->

		<!-- FOOTER -->
	  <footer id="copyright" class="copyright-wrapper">
	   <div class="copyright">
	     <!-- <img src="../static/res/img/logo-normal.png" width="50px" height="50px"/> -->
	     <div class="footer_logo_wrapper">
	       <a href="/"><img src="../static/res/img/logo-normal.png" class="footer_logo"></a>
	     </div>
	     <p id="footer_txt">© 2016 by REAL. All Rights Reserved.</p>
	   </div>
	  </footer>
	  <!-- END FOOTER -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js" charset="utf-8"></script>
		<script src="../static/js/real_topmenu.js" charset="utf-8"></script>
		<script src="../static/js/real_about.js" charset="utf-8"></script>
	</body>
</html>
