<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="author" content="Yunjee Heo">
  <meta name="keywords" content="REAL">
  <meta name="description" content="Real Entrepreneurship Achievement League website.">
  <meta name="author-date" content="19/03/2016">
  <meta name="location" content="Seoul, Rep of Korea">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" href="../static/css/real_portfolio.css">
  <link rel="stylesheet" href="../static/css/real_termbar.css">
  <link rel="stylesheet" href="../static/css/real_topmenu.css">
  <link rel="stylesheet" href="../static/css/real_footer.css">
  <link rel="shortcut icon" href="../static/res/favicon.ico">
  <!-- font -->
  <link href="http://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet" type="text/css">

  <title>REAL</title>
</head>
<body>
  <!-- HEADER -->
  <header id="header-wrapper">
    <div class="row">
      <div class="logo-wrapper">
        <a href="/"><img src="../static/res/img/logo-white.png" class="logo-real"></a>
      </div>
      <div class="nav-wrapper">
        <nav id="header-nav">
          <ul class="topnav">
            <li class="menu-item"><a href="#"></a></li>
            <li class="menu-item"><a href="/about">ABOUT</a></li>
            <li class="menu-item"><a href="/portfolio">PORTFOLIO</a></li>
            <li class="menu-item"><a href="/activity">ACTIVITY</a></li>
            <li class="menu-item"><a href="/people">PEOPLE</a></li>
            <li class="icon" style="padding: 1px 19px;">
              <a href="javascript:void(0);" style="font-size: 23px; margin: 0;" onclick="myFunction()">☰</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <!-- END HEADER -->

  <!-- PORTFOLIO -->
  <div id="portfolio" class="portfolio-wrapper">
   <div class="portfolio">
     <div id="part">Portfolio</div>
   </div>
   <!-- TERMTAB -->
   <div id="container">
     <nav id="termbar">
       <ul class="tabs">
         <li rel="tab1"><a>1st</a></li>
         <li class="active" rel="tab2"><a>2nd</a></li>
       </ul>
     </nav>
     <!-- TAB CONTAINER -->
     <div class="tab_container">
       <!-- TAB1 -->
       <div id="tab1" class="tab_content">
         <div id="portfoliocards">
          <div class="portfolio_container">
            <div>
              <div class="card_img">
                <img src="../static/res/img/main/portfolio/dalping.png"/>
              </div>
              <div class="card_bg">
                <div class="card_txt">
                   <p id="card_team">Dalping</p>
                   <a href="http://dalping.com">
                     <p id="card_content">GO</p>
                   </a>
                </div>
              </div>
            </div>
            <div>
              <div class="card_img">
                <img src="../static/res/img/main/portfolio/mapia.png"/>
              </div>
              <div class="card_bg">
                <div class="card_txt">
                 <p id="card_team">MAPIA</p>
                 <p id="card_content">-</p>
                </div>
              </div>
            </div>
          </div>
         </div>
       </div>
       <!-- END TAB1 -->
       <!-- TAB2 -->
       <div id="tab2" class="tab_content">
         <div id="portfoliocards">
            <div class="portfolio_container">
              <div>
                <div class="card_img">
                    <img src="../static/res/img/main/portfolio/dodotdo.png"/>
                </div>
                <div class="card_bg">
                  <div class="card_txt">
                    <p id="card_team">(주)DodotDo</p>
                    <a href="http://dodotdo.github.io/">
                      <p id="card_content">GO</p>
                    </a>
                  </div>
                </div>
              </div>
              <div>
               <div class="card_img">
                   <img src="../static/res/img/main/portfolio/mytem.png"/>
               </div>
               <div class="card_bg">
                 <div class="card_txt">
                   <p id="card_team">Mytem</p>
                   <p id="card_content">-</p>
                 </div>
               </div>
              </div>
              <div>
                <div class="card_img">
                    <img src="../static/res/img/main/portfolio/TNDN_horizontal.png" style="width: 140px; height: auto;"/>
                </div>
                <div class="card_bg">
                  <div class="card_txt">
                    <p id="card_team">TNDN</p>
                    <a href="http://www.tndn.net">
                      <p id="card_content">GO</p>
                    </a>
                  </div>
                </div>
              </div>
              <div>
                <div class="card_img">
                    <img src="../static/res/img/main/portfolio/cupeye.png"/>
                </div>
                <div class="card_bg">
                  <div class="card_txt">
                    <p id="card_team">CUPEYE</p>
                    <a href="http://cupeye.com/">
                      <p id="card_content">GO</p>
                    </a>
                  </div>
                </div>
              </div>
            </div>
         </div>
       </div>
       <!-- END TAB2 -->
     </div>
     <!-- END / TAB CONTAINER -->
   </div>
   <!-- END / TERMTAB -->
  </div>
  <!-- END / PORTFOLIO -->

  <!-- SUPPORTER -->
  <!-- <div id="supporter" class="supporter-wrapper">
   <div class="supporter">
     <div id="part_supporter">Supporter</div>
   </div> -->

     <!-- TAB CONTAINER -->
     <!-- <div class="supporter_container">
         <div id="supportercards">
          <div> -->
             <!-- <a href="http://d2.naver.com/home"><img class="card_img" src="../static/res/img/"/></a> -->
          <!-- </div>
          <div> -->
             <!-- <a href="https://www.kofac.re.kr/"><img class="card_img" src="../static/res/img/"/></a> -->
          <!-- </div>
         </div>
     </div> -->
     <!-- END / TAB CONTAINER -->
  <!-- </div> -->
  <!-- END SUPPORTER -->

  <!-- FOOTER -->
  <footer id="copyright" class="copyright-wrapper">
   <div class="copyright">
     <!-- <img src="../static/res/img/logo-normal.png" width="50px" height="50px"/> -->
     <div class="footer_logo_wrapper">
       <a href="/"><img src="../static/res/img/logo-normal.png" class="footer_logo"></a>
     </div>
     <p id="footer_txt">© 2016 by REAL. All Rights Reserved.</p>
   </div>
  </footer>
  <!-- END FOOTER -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js" charset="utf-8"></script>
  <script src="../static/js/real_topmenu.js" charset="utf-8"></script>
  <script src="../static/js/real_portfolio.js" charset="utf-8"></script>
</body>
</html>
