<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="author" content="Yoon Han">
  <meta name="keywords" content="REAL">
  <meta name="description" content="Real Entrepreneurship Achievement League website.">
  <meta name="author-date" content="26/01/2016">
  <meta name="location" content="Seoul, Rep of Korea">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" href="../static/css/real_main.css">
  <link rel="stylesheet" href="../static/css/real_termbar.css">
  <link rel="stylesheet" href="../static/css/real_topmenu.css">
  <link rel="stylesheet" href="../static/css/real_footer2.css">
  <link rel="shortcut icon" href="../static/res/favicon.ico">
  <!-- font -->
  <link href="http://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet" type="text/css">

  <title>REAL</title>
</head>
<body>
  <!-- HEADER -->
  <header id="header-wrapper">
    <div class="row">
      <div class="logo-wrapper">
        <a href="/"><img src="../static/res/img/logo-white.png" class="logo-real"></a>
      </div>
      <div class="nav-wrapper">
        <nav id="header-nav">
          <ul class="topnav">
            <li class="menu-item"><a href="#"></a></li>
            <li class="menu-item"><a href="/about">ABOUT</a></li>
            <li class="menu-item"><a href="/portfolio">PORTFOLIO</a></li>
            <li class="menu-item"><a href="/activity">ACTIVITY</a></li>
            <li class="menu-item"><a href="/people">PEOPLE</a></li>
            <li class="icon" style="padding: 1px 19px;">
              <a href="javascript:void(0);" style="font-size:23px; margin: 0;" onclick="myFunction()">☰</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <!-- END HEADER -->
  <!-- SLIDER -->
  <section id="before-after">

    <div class="view view-after">
      <div class="wrapper-after">
        <div class="img-computer-wrapper">
          <img src="../static/res/img/main-after.png">
          <div class="tooltip-after tooltip-after-1"></div>
          <div class="tooltip-after tooltip-after-2"></div>
          <div class="tooltip-after tooltip-after-3"></div>
          <div class="tooltip-after tooltip-after-4"></div>
        </div>

        <div class="shadow"></div>

        <div class="content-after">
          <div class="content-left">
            <h3 style="font-weight:normal;">SW 실전 창업 <br />연합 동아리 레알입니다.</h3>
            <p class="btn-wrapper"><a href="/about" class="btn btn-after">동아리 소개</a></p>
          </div>
          <div class="content-right">
            <h3 style="font-weight:normal;">
              창의적인 아이디어와 <br />뛰어난 기술을 가진 <br />예비 창업자들이 <br />
              SW 창업의 꿈을 실현합니다.
            </h3>

          </div>
        </div>
      </div>
    </div>

    <div class="view view-before">
      <div class="wrapper-before">
        <div class="img-computer-wrapper">
          <img src="../static/res/img/main-before.png">
          <div class="tooltip-before tooltip-before-1"></div>
          <div class="tooltip-before tooltip-before-2"></div>
          <div class="tooltip-before tooltip-before-3"></div>
          <div class="tooltip-before tooltip-before-4"></div>
        </div>

        <div class="shadow"></div>

        <div class="content-before">
          <div class="content-left">
            <h3 style="font-weight:normal;">SW 실전 창업 <br />연합 동아리 레알입니다.</h3>
            <p class="btn-wrapper"><a href="/about" class="btn btn-before">동아리 소개</a></p>
          </div>
          <div class="content-right">
            <h3 style="font-weight:normal;">
              창의적인 아이디어와 <br />뛰어난 기술을 가진 <br />예비 창업자들이 <br />
              <sapn style="color:#0099cc;">SW 창업의 꿈</span><span style="color:#000;">을 실현합니다.</span>
            </h3>
          </div>
        </div>
      </div>
    </div>

    <div id="drag-bar">
      <span class="icon-drag">-</span>
    </div>
  </section>
  <!-- END / SLIDER -->

  <!-- SUPPORTER -->
  <!-- <div id="supporter" class="supporter-wrapper">
   <div class="supporter">
     <div id="part_supporter">Supporter</div>
   </div> -->

     <!-- TAB CONTAINER -->
     <!-- <div class="supporter_container">
         <div id="supportercards">
          <div> -->
             <!-- <a href="http://d2.naver.com/home"><img class="card_img" src="../static/res/img/"/></a> -->
          <!-- </div>
          <div> -->
             <!-- <a href="https://www.kofac.re.kr/"><img class="card_img" src="../static/res/img/"/></a> -->
          <!-- </div>
         </div>
     </div> -->
     <!-- END / TAB CONTAINER -->
  <!-- </div> -->
  <!-- END SUPPORTER -->

  <!-- FOOTER -->
  <footer id="copyright" class="copyright-wrapper">
   <div class="copyright">
     <div class="footer_logo_wrapper">
        <p id="footer_contact"><a href="https://www.facebook.com/startreal.org/">facebook</a></p>
      <p id="footer_txt">© 2016 by REAL. All Rights Reserved.</p>
     </div>
   </div>
  </footer>
  <!-- END FOOTER -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js" charset="utf-8"></script>
  <script src="../static/js/real_topmenu.js" charset="utf-8"></script>
  <script src="../static/js/real_main.js" charset="utf-8"></script>
</body>
</html>
