<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="author" content="Yunjee Heo">
  <meta name="keywords" content="REAL">
  <meta name="description" content="Real Entrepreneurship Achievement League website.">
  <meta name="author-date" content="06/02/2016">
  <meta name="location" content="Seoul, Rep of Korea">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" href="../static/css/real_people.css">
  <link rel="stylesheet" href="../static/css/real_topmenu.css">
  <link rel="stylesheet" href="../static/css/real_termbar.css">
  <link rel="stylesheet" href="../static/css/real_footer.css">
  <link rel="shortcut icon" href="../static/res/favicon.ico">
  <!-- font -->
  <link href="http://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet" type="text/css">

  <!-- jQuery / jQuery UI -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

  <!-- jQuery Touch Punch - Enable Touch Drag and Drop -->
  <script src="../static/core/vendor/jquery.touch-punch.min.js"></script>

  <!-- jQuery.Shapeshift -->
  <script src="../static/core/jquery.shapeshift.js"></script>

  <title>REAL</title>
</head>
<body>
  <!-- HEADER -->
  <header id="header-wrapper">
    <div class="row">
      <div class="logo-wrapper">
        <a href="/"><img src="../static/res/img/logo-white.png" class="logo-real"></a>
      </div>
      <div class="nav-wrapper">
        <nav id="header-nav">
          <ul class="topnav">
            <li class="menu-item"><a href="#"></a></li>
            <li class="menu-item"><a href="/about">ABOUT</a></li>
            <li class="menu-item"><a href="/portfolio">PORTFOLIO</a></li>
            <li class="menu-item"><a href="/activity">ACTIVITY</a></li>
            <li class="menu-item"><a href="/people">PEOPLE</a></li>
            <li class="icon" style="padding: 1px 19px;">
              <a href="javascript:void(0);" style="font-size: 23px; margin: 0;" onclick="myFunction()">☰</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <header id="header-wrapper2">
    <img src="../static/res/img/people/homepage-28.jpg"/>
  </header>
  <!-- END HEADER -->

  <!-- TERMTAB -->
  <div id="people" class="people-wrapper">
    <nav id="termbar">
      <ul class="tabs">
          <li rel="tab1"><a>1st</a></li>
          <li rel="tab2"><a>2nd</a></li>
          <li class="active" rel="tab3"><a>3rd</a></li>
      </ul>
    </nav>
  <div id="container">
    <!-- TAB CONTAINER -->
      <div class="tab_container">
          <!-- TAB1 -->
          <div id="tab1" class="tab_content">
            <div class="part">
             Operator
            </div>
            <div id="peoplecards">
              <div class="card_container">
                <div>
                  <img class="card_img" src="../static/res/img/people/1/1_dev_BaekDaehyeon.jpg"/>
                  <div class="card_bg">
                    <div class="card_txt" style="padding: 50px 27px 10px 27px;">
                      <p style="padding: 0; margin: 0;">President</p>
                      <p class="card_name" style="margin-top: 8px;">백대현</p>
                      <hr/>
                      <p class="card_school">고려대학교 컴퓨터학과</p>
                      <p class="card_message">즐겁게 살아요 여러분!!</p>
                   </div>
                 </div>
               </div>
               <div>
                <img class="card_img" src="../static/res/img/people/1/1_pm_KimJonghui.jpg"/>
                <div class="card_bg">
                  <div class="card_txt">
                    <p style="padding: 0; margin: 0;">Vice-President</p>
                    <p class="card_name">김종희</p>
                     <hr/>
                     <p class="card_school">건국대학교 체육학과</p>
                     <p class="card_message">나는 어느 나라 사람인가</p>
                  </div>
                </div>
               </div>
             </div>
            </div>

            <div class="part">
              Project Manager
            </div>
            <div id="peoplecards">
             <div class="card_container">
              <div>
               <img class="card_img" src="../static/res/img/people/1/1_pm_KimMinhui.jpg"/>
                 <div class="card_bg">
                  <div class="card_txt">
                   <p class="card_name">김민희</p>
                   <hr/>
                   <p class="card_school">서울대학교 수의학</p>
                   <p class="card_message">치명적인 매력!</p>
                  </div>
                </div>
              </div>
              <div>
               <img class="card_img" src="../static/res/img/people/1/1_pm_KimJonghui.jpg"/>
                 <div class="card_bg">
                   <div class="card_txt">
                     <p class="card_name">김종희</p>
                     <hr/>
                     <p class="card_school">건국대학교 체육학과</p>
                     <p class="card_message">나는 어느 나라 사람인가</p>
                   </div>
                 </div>
              </div>
              <div>
                <img class="card_img" src="../static/res/img/people/1/1_pm_KimJungu.jpg"/>
                  <div class="card_bg">
                    <div class="card_txt">
                      <p class="card_name">김준구</p>
                      <hr/>
                      <p class="card_school">중앙대학교 심리학과</p>
                      <p class="card_message">아이디어 Bang!</p>
                    </div>
                  </div>
              </div>
              <div>
                <img class="card_img" src="../static/res/img/people/1/1_pm_LeeSeul.jpg"/>
                  <div class="card_bg">
                    <div class="card_txt">
                      <p class="card_name">이슬</p>
                      <hr/>
                      <p class="card_school">중앙대학교 중문학과</p>
                      <p class="card_message">세상에 이럴수가, 처리할게.</p>
                    </div>
                  </div>
              </div>
              <div>
                <img class="card_img" src="../static/res/img/people/1/1_pm_LeeAra.jpg"/>
                  <div class="card_bg">
                    <div class="card_txt">
                      <p class="card_name">이아라</p>
                      <hr/>
                      <p class="card_school">서울과학기술대학교 글로벌경영학과</p>
                      <p class="card_message">빈대떡에 알밤막걸리</p>
                    </div>
                  </div>
              </div>
              <div>
                <img class="card_img" src="../static/res/img/people/1/1_pm_LeeEunseo.jpg"/>
                  <div class="card_bg">
                    <div class="card_txt">
                      <p class="card_name">이은서</p>
                      <hr/>
                      <p class="card_school">이화여자대학교 인문과학대학</p>
                      <p class="card_message">꺼몽</p>
                    </div>
                  </div>
              </div>
              <div>
                <img class="card_img" src="../static/res/img/people/1/1_pm_LeeJeongjae.jpg"/>
                  <div class="card_bg">
                    <div class="card_txt">
                      <p class="card_name">이정재</p>
                      <hr/>
                      <p class="card_school">서경희대 호텔경영학과</p>
                      <p class="card_message">냠냠</p>
                    </div>
                  </div>
              </div>
              <div>
                <img class="card_img" src="../static/res/img/people/1/1_pm_JuHyeonjeong.jpg"/>
                  <div class="card_bg">
                    <div class="card_txt">
                      <p class="card_name">주현정</p>
                      <hr/>
                      <p class="card_school">Binghamton University Marketing</p>
                      <p class="card_message" style="font-size:14px;">레알을 통해서 진짜 많이 배웠어요! 같이 해줬던 팀원들한테 다들 너무 고맙고 레알에도 고맙습니다!</p>
                    </div>
                  </div>
              </div>
            </div>
            </div>
            <div class="part">
             Developer
            </div>
            <div id="peoplecards">
             <div class="card_container">
              <div>
               <img class="card_img" src="../static/res/img/people/1/1_dev_KimMinsu.jpg"/>
               <div class="card_bg">
                 <div class="card_txt">
                   <p class="card_name">김민수</p>
                   <hr/>
                   <p class="card_school">고려대학교 컴퓨터학과</p>
                   <p class="card_message">파토타기 한 번 할까요?</p>
                 </div>
               </div>
              </div>
              <div>
               <img class="card_img" src="../static/res/img/people/1/1_dev_KimSanggeun.jpg"/>
               <div class="card_bg">
                 <div class="card_txt">
                   <p class="card_name">김상근</p>
                   <hr/>
                   <p class="card_school">서강대학교 컴퓨터공학</p>
                   <p class="card_message">술이 들어간다 쭉쭉쭉쭉 쭉쭉쭉쭉</p>
                 </div>
               </div>
              </div>
              <div>
               <img class="card_img" src="../static/res/img/people/1/1_dev_KimJahyeon.jpeg"/>
               <div class="card_bg">
                 <div class="card_txt">
                   <p class="card_name">김자현</p>
                   <hr/>
                   <p class="card_school">고려대학교 컴퓨터학과</p>
                   <p class="card_message">들키면 범죄 안들키면 예술?</p>
                 </div>
               </div>
              </div>
              <div>
               <img class="card_img" src="../static/res/img/people/1/1_dev_KimJongchan.jpg"/>
               <div class="card_bg">
                 <div class="card_txt">
                   <p class="card_name">김종찬</p>
                   <hr/>
                   <p class="card_school">광운대학교 컴퓨터소프트웨어학과</p>
                   <p class="card_message">잼...잼...레알잼...</p>
                 </div>
               </div>
              </div>
              <div>
               <img class="card_img" src="../static/res/img/people/1/1_dev_RyuHyewon.jpeg"/>
               <div class="card_bg">
                 <div class="card_txt">
                   <p class="card_name">류혜원</p>
                   <hr/>
                   <p class="card_school">성신여자대학교 컴퓨터 소프트웨어</p>
                   <p class="card_message" style="font-size:11px;">함께 창업팀했던 대현이,자현이,하경이,민수,슬이한테 고맙고 끝까지 함께 프로젝트 진행하지못해서 아쉬웠어요ㅎㅎ1기 사람들, 멘토님들께 감사하고 2기는 동아리 더 번창하고 활동 왕성하기를 바래요 화이팅♡</p>
                 </div>
               </div>
              </div>
              <div>
               <img class="card_img" src="../static/res/img/people/1/1_dev_MinJonghyeon.jpeg"/>
               <div class="card_bg">
                 <div class="card_txt">
                   <p class="card_name">민종현</p>
                   <hr/>
                   <p class="card_school">고려대학교 컴퓨터학과</p>
                   <p class="card_message">쫑!</p>
                 </div>
               </div>
              </div>
              <div>
               <img class="card_img" src="../static/res/img/people/1/1_dev_BaekDaehyeon.jpg"/>
               <div class="card_bg">
                 <div class="card_txt">
                   <p class="card_name">백대현</p>
                   <hr/>
                   <p class="card_school">고려대학교 컴퓨터학과</p>
                   <p class="card_message">즐겁게 살아요 여러분!!</p>
                 </div>
               </div>
              </div>
              <div>
               <img class="card_img" src="../static/res/img/people/1/1_dev_BaekChanghyeon.png"/>
               <div class="card_bg">
                 <div class="card_txt">
                   <p class="card_name">백창현</p>
                   <hr/>
                   <p class="card_school">아주대학교 정보컴퓨터공학</p>
                   <p class="card_message">전직 PC방 사장님</p>
                 </div>
               </div>
              </div>
              <div>
               <img class="card_img" src="../static/res/img/people/1/1_dev_SeoMinseo.jpg"/>
               <div class="card_bg">
                 <div class="card_txt">
                   <p class="card_name">서민서</p>
                   <hr/>
                   <p class="card_school">덕성여자대학교 디지털미디어학과</p>
                   <p class="card_message">눈누난나</p>
                 </div>
               </div>
              </div>
              <div>
               <img class="card_img" src="../static/res/img/people/1/1_dev_YuGwangyeop.jpg"/>
               <div class="card_bg">
                 <div class="card_txt">
                   <p class="card_name">유광엽</p>
                   <hr/>
                   <p class="card_school">삼육대학교 컴퓨터시스템</p>
                   <p class="card_message">Practice makes perfect Wow!</p>
                 </div>
               </div>
              </div>
              <div>
               <img class="card_img" src="../static/res/img/people/1/1_dev_YuJeongho.jpg"/>
               <div class="card_bg">
                 <div class="card_txt">
                   <p class="card_name">유정호</p>
                   <hr/>
                   <p class="card_school">숭실대학교 컴퓨터공학</p>
                   <p class="card_message">아라착하다!!!!!!!!!!!!!</p>
                 </div>
               </div>
              </div>
              <div>
               <img class="card_img" src="../static/res/img/people/1/1_dev_LeeUipyeong.jpeg"/>
               <div class="card_bg">
                 <div class="card_txt">
                   <p class="card_name">이의평</p>
                   <hr/>
                   <p class="card_school">Princeton University 전산학과</p>
                   <p class="card_message">군밤사세요~</p>
                 </div>
               </div>
              </div>
              <div>
               <img class="card_img" src="../static/res/img/people/1/1_dev_LeeHaneol.jpg"/>
               <div class="card_bg">
                 <div class="card_txt">
                   <p class="card_name">이한얼</p>
                   <hr/>
                   <p class="card_school">고려대학교 컴퓨터학과</p>
                   <p class="card_message">꾸꾸까까</p>
                 </div>
               </div>
              </div>
             </div>
            </div>
            <div class="part">
             Designer
            </div>
            <div id="peoplecards">
             <div class="card_container">
               <div>
                <img class="card_img" src="../static/res/img/people/1/1_design_LeeMinju.jpg"/>
                <div class="card_bg">
                  <div class="card_txt">
                    <p class="card_name">이민주</p>
                    <hr/>
                    <p class="card_school">이화여자대학교 법학과</p>
                    <p class="card_message">뇌야 말랑해지자^^</p>
                  </div>
                </div>
               </div>
               <div>
                <img class="card_img" src="../static/res/img/people/1/1_design_LeeEunsang.png"/>
                <div class="card_bg">
                  <div class="card_txt">
                    <p class="card_name">이은상</p>
                    <hr/>
                    <p class="card_school">Rhode Island School of Design</p>
                    <p class="card_message">천천히 길게 호흡하자</p>
                  </div>
                </div>
               </div>
               <div>
                <img class="card_img" src="../static/res/img/people/1/1_design_LimHakyeong.jpg"/>
                <div class="card_bg">
                  <div class="card_txt">
                    <p class="card_name">임하경</p>
                    <hr/>
                    <p class="card_school">이화여자대학교 디자인학부 영상디자인전공</p>
                    <p class="card_message">날씨는 덥고 미트볼은 맛있다...</p>
                  </div>
                </div>
               </div>
               <div>
                <img class="card_img" src="../static/res/img/people/1/1_design_JungSeokhyeong.jpg"/>
                <div class="card_bg">
                  <div class="card_txt">
                    <p class="card_name">정석형</p>
                    <hr/>
                    <p class="card_school">이화여자대학교 디자인학부 영상디자인</p>
                    <p class="card_message">여러분 취준 화이팅!</p>
                  </div>
                </div>
               </div>
               <div>
                <img class="card_img" src="../static/res/img/people/1/1_design_HyeonHyerim.jpg"/>
                <div class="card_bg">
                  <div class="card_txt">
                    <p class="card_name">현혜림</p>
                    <hr/>
                    <p class="card_school">아주대학교 산업공학과</p>
                    <p class="card_message">곱창에는 자몽에 이슬</p>
                  </div>
                </div>
               </div>
             </div>
            </div>
          </div>
          <!-- END TAB1 -->
          <!-- TAB2 -->
          <div id="tab2" class="tab_content">
            <div class="part">
             Operator
            </div>
            <div id="peoplecards">
              <div class="card_container">
                <div>
                  <img class="card_img" src="../static/res/img/people/1/1_dev_BaekDaehyeon.jpg"/>
                  <div class="card_bg">
                    <div class="card_txt" style="padding: 50px 27px 10px 27px;">
                      <p style="padding: 0; margin: 0;">President</p>
                      <p class="card_name" style="margin-top: 8px;">백대현</p>
                      <hr/>
                      <p class="card_school">고려대학교 컴퓨터학과</p>
                      <p class="card_message">즐겁게 살아요 여러분!!</p>
                   </div>
                 </div>
               </div>
               <div>
                <img class="card_img" src="../static/res/img/people/1/1_design_HyeonHyerim.jpg"/>
                <div class="card_bg">
                  <div class="card_txt">
                    <p class="card_name">현혜림</p>
                    <hr/>
                    <p class="card_school">아주대학교 산업공학과</p>
                    <p class="card_message">곱창에는 자몽에 이슬</p>
                  </div>
                </div>
               </div>
             </div>
            </div>

            <div class="part">
              Project Manager
            </div>
            <div id="peoplecards">
             <div class="card_container">
              <div>
                <img class="card_img" src="../static/res/img/people/2/2_pm_KimYeonwoo.jpeg"/>
                  <div class="card_bg">
                    <div class="card_txt">
                      <p class="card_name">김연우</p>
                      <hr/>
                      <p class="card_school">서울대학교 수리과학부</p>
                      <p class="card_message">점보치킨버켓</p>
                    </div>
                  </div>
              </div>
              <div>
                <img class="card_img" src="../static/res/img/people/2/2_pm_KimJinheung.jpeg"/>
                  <div class="card_bg">
                    <div class="card_txt">
                      <p class="card_name">김진흥</p>
                      <hr/>
                      <p class="card_school">동국대학교 경영학과</p>
                      <p class="card_message" style="font-size:16px;">컵아이 대표. 2015년 올해의 자랑스런 동국인. 창업은 재밌어뀨</p>
                    </div>
                  </div>
              </div>
              <div>
               <img class="card_img" src="../static/res/img/people/2/2_pm_SuhSangwoo.jpg"/>
               <div class="card_bg">
                 <div class="card_txt">
                   <p class="card_name">서상우</p>
                   <hr/>
                   <p class="card_school">국민대학교 사회학과</p>
                   <p class="card_message"class="card_message">기획과 개발의 아수라백작</p>
                 </div>
               </div>
              </div>
              <div>
                <img class="card_img" src="../static/res/img/people/2/2_pm_ShinMansoo.jpg"/>
                  <div class="card_bg">
                    <div class="card_txt">
                      <p class="card_name">신만수</p>
                      <hr/>
                      <p class="card_school">중앙대학교 심리학과</p>
                      <p class="card_message">아몰랑</p>
                    </div>
                  </div>
              </div>
              <div>
                <img class="card_img" src="../static/res/img/people/2/2_pm_ShimSoyeong.jpeg"/>
                  <div class="card_bg">
                    <div class="card_txt">
                      <p class="card_name">심소영</p>
                      <hr/>
                      <p class="card_school">고려대학교 수학과 / 소프트웨어융합</p>
                      <p class="card_message">진인사대천명</p>
                    </div>
                  </div>
              </div>
              <div>
               <img class="card_img" src="../static/res/img/people/2/2_pm_LeeYongjin.jpg"/>
                 <div class="card_bg">
                  <div class="card_txt">
                   <p class="card_name">이용진</p>
                   <hr/>
                   <p class="card_school">광운대학교 행정학 / 컴퓨터소프트웨어</p>
                   <p class="card_message">Witness me!</p>
                  </div>
                </div>
              </div>
              <div>
               <img class="card_img" src="../static/res/img/people/2/2_pm_LeeJuntaek.jpg"/>
                 <div class="card_bg">
                   <div class="card_txt">
                     <p class="card_name">이준택</p>
                     <hr/>
                     <p class="card_school">홍익대학교 산업공학과</p>
                     <p class="card_message">화이팅!</p>
                   </div>
                 </div>
              </div>
              <div>
               <img class="card_img" src="../static/res/img/people/2/2_pm_LeeChangsoo.jpeg"/>
                 <div class="card_bg">
                   <div class="card_txt">
                     <p class="card_name">이창수</p>
                     <hr/>
                     <p class="card_school">고려대학교 컴퓨터학과</p>
                     <p class="card_message">-</p>
                   </div>
                 </div>
              </div>
              <div>
                <img class="card_img" src="../static/res/img/people/2/2_pm_JoDaeyeon.jpg"/>
                  <div class="card_bg">
                    <div class="card_txt">
                      <p class="card_name">조대연</p>
                      <hr/>
                      <p class="card_school">서울대학교 미학 / 경영학과</p>
                      <p class="card_message" style="font-size:14px;">정많고 사람좋아하는,코딩도 좋아해보려하는,제주도 &gt;&gt;&gt; 음주가무 &gt; 자전거 &gt; 스노우보드. ”저랑 밤하늘 보러갈래요?&#34;</p>
                    </div>
                  </div>
              </div>
              <div>
                <img class="card_img" src="../static/res/img/people/2/2_pm_HongSeoui.jpeg"/>
                  <div class="card_bg">
                    <div class="card_txt">
                      <p class="card_name">홍서의</p>
                      <hr/>
                      <p class="card_school">숙명여자대학교 앙트러프러너십학과</p>
                      <p class="card_message">hard work will pay off.</p>
                    </div>
                  </div>
              </div>
            </div>
            </div>
            <div class="part">
             Developer
            </div>
            <div id="peoplecards">
             <div class="card_container">
              <div>
               <img class="card_img" src="../static/res/img/people/2/2_dev_KimKyeongseo.jpg"/>
               <div class="card_bg">
                 <div class="card_txt">
                   <p class="card_name">김경서</p>
                   <hr/>
                   <p class="card_school">덕성여자대학교 컴퓨터학과</p>
                   <p class="card_message">힘:)</p>
                 </div>
               </div>
              </div>
              <div>
               <img class="card_img" src="../static/res/img/people/2/2_dev_KimMunyeong.jpg"/>
               <div class="card_bg">
                 <div class="card_txt">
                   <p class="card_name">김무녕</p>
                   <hr/>
                   <p class="card_school">숭실대학교 글로벌미디어학부</p>
                   <p class="card_message">후회없이!!</p>
                 </div>
               </div>
              </div>
              <div>
               <img class="card_img" src="../static/res/img/people/2/2_dev_KimYebon.jpg"/>
               <div class="card_bg">
                 <div class="card_txt">
                   <p class="card_name">김예본</p>
                   <hr/>
                   <p class="card_school">고려대학교 컴퓨터학과</p>
                   <p class="card_message">유령CTO</p>
                 </div>
               </div>
              </div>
              <div>
               <img class="card_img" src="../static/res/img/people/2/2_dev_KimHuisu.jpg"/>
               <div class="card_bg">
                 <div class="card_txt">
                   <p class="card_name">김희수</p>
                   <hr/>
                   <p class="card_school">한국항공대학교 컴퓨터공학과 석사</p>
                   <p class="card_message">재밌게 놀아 봅시당!</p>
                 </div>
               </div>
              </div>
              <div>
               <img class="card_img" src="../static/res/img/people/2/2_dev_ParkJeongho.jpg"/>
               <div class="card_bg">
                 <div class="card_txt">
                   <p class="card_name">박정호</p>
                   <hr/>
                   <p class="card_school">가천대학교 소프트웨어 설계 경영학과</p>
                   <p class="card_message">남은 시간 화이팅!</p>
                 </div>
               </div>
              </div>
              <div>
               <img class="card_img" src="../static/res/img/people/2/2_dev_YoonDohyeon.jpeg"/>
               <div class="card_bg">
                 <div class="card_txt">
                   <p class="card_name">윤도현</p>
                   <hr/>
                   <p class="card_school">서울여자대학교 문헌정보학과 / 멀티미디어학과</p>
                   <p class="card_message">비워줘</p>
                 </div>
               </div>
              </div>
              <div>
               <img class="card_img" src="../static/res/img/people/2/2_dev_YoonYeongji.png"/>
               <div class="card_bg">
                 <div class="card_txt">
                   <p class="card_name">윤영지</p>
                   <hr/>
                   <p class="card_school">숭실대학교 글로벌미디어학부</p>
                   <p class="card_message">레알 화이팅!!</p>
                 </div>
               </div>
              </div>
              <div>
               <img class="card_img" src="../static/res/img/people/2/2_dev_LimGongbin.jpg"/>
               <div class="card_bg">
                 <div class="card_txt">
                   <p class="card_name">임공빈</p>
                   <hr/>
                   <p class="card_school">고려대학교 컴퓨터학과</p>
                   <p class="card_message">안뇽~</p>
                 </div>
               </div>
              </div>
              <div>
               <img class="card_img" src="../static/res/img/people/2/2_dev_JangBuru.jpeg"/>
               <div class="card_bg">
                 <div class="card_txt">
                   <p class="card_name">장부루</p>
                   <hr/>
                   <p class="card_school">고려대학교 컴퓨터학과</p>
                   <p class="card_message">화질구지닷</p>
                 </div>
               </div>
              </div>
              <div>
               <img class="card_img" src="../static/res/img/people/2/2_dev_JoYeongeong.jpeg"/>
               <div class="card_bg">
                 <div class="card_txt">
                   <p class="card_name">조연정</p>
                   <hr/>
                   <p class="card_school">서울여자대학교 정보보호학과</p>
                   <p class="card_message">real!</p>
                 </div>
               </div>
              </div>
              <div>
               <img class="card_img" src="../static/res/img/people/2/2_dev_HanYoon.jpg"/>
               <div class="card_bg">
                 <div class="card_txt">
                   <p class="card_name">한윤</p>
                   <hr/>
                   <p class="card_school">고려대학교 컴퓨터학과</p>
                   <p class="card_message">터닝 포인트</p>
                 </div>
               </div>
              </div>
              <div>
               <img class="card_img" src="../static/res/img/people/2/2_dev_HeoYunjee.jpg"/>
               <div class="card_bg">
                 <div class="card_txt">
                   <p class="card_name">허윤지</p>
                   <hr/>
                   <p class="card_school">덕성여자대학교 컴퓨터학과</p>
                   <p class="card_message">안녕하세요:)</p>
                 </div>
               </div>
              </div>
             </div>
            </div>
            <div class="part">
             Designer
            </div>
            <div id="peoplecards">
             <div class="card_container">
              <div>
                <img class="card_img" src="../static/res/img/people/2/2_design_KimSeonyu.jpeg"/>
                <div class="card_bg">
                  <div class="card_txt">
                    <p class="card_name">김선유</p>
                    <hr/>
                    <p class="card_school">한양대학교 영문학과</p>
                    <p class="card_message">브런치 작가 https://brunch.co.kr/@seonyu10</p>
                  </div>
                </div>
              </div>
              <div>
               <img class="card_img" src="../static/res/img/people/2/2_design_KimHyejin.jpg"/>
               <div class="card_bg">
                 <div class="card_txt">
                   <p class="card_name">김혜진</p>
                   <hr/>
                   <p class="card_school">Samsung Art and Design Institute Product Design</p>
                   <p class="card_message">까꿍</p>
                 </div>
               </div>
              </div>
              <div>
               <img class="card_img" src="../static/res/img/people/2/2_design_LeeSunmin.jpeg"/>
               <div class="card_bg">
                 <div class="card_txt">
                   <p class="card_name">이선민</p>
                   <hr/>
                   <p class="card_school">성신여자대학교 산업디자인학과</p>
                   <p class="card_message">포토바이하용</p>
                 </div>
               </div>
              </div>
              <div>
               <img class="card_img" src="../static/res/img/people/2/2_design_JeongYeonghun.jpeg"/>
               <div class="card_bg">
                 <div class="card_txt">
                   <p class="card_name">정영훈</p>
                   <hr/>
                   <p class="card_school">고려대학교 건축학과</p>
                   <p class="card_message">지코바치킨 맛있다</p>
                 </div>
               </div>
              </div>
              <div>
               <img class="card_img" src="../static/res/img/people/2/2_design_JoYeongjun.jpeg"/>
               <div class="card_bg">
                 <div class="card_txt">
                   <p class="card_name">조영준</p>
                   <hr/>
                   <p class="card_school">국민대학교 테크노디자인전문 대학원 인터렉션 디자인</p>
                   <p class="card_message">느낌있어요</p>
                 </div>
               </div>
              </div>
             </div>
            </div>
          </div>
          <!-- END TAB2 -->
          <!-- TAB3 -->
          <div id="tab3" class="tab_content">
            <div class="part">
             Operator
            </div>
            <div id="peoplecards">
              <div class="card_container">
                <div>
                  <img class="card_img" src="../static/res/img/people/2/2_pm_LeeYongjin.jpg"/>
                  <div class="card_bg">
                    <div class="card_txt" style="padding: 50px 27px 10px 27px;">
                      <p style="padding: 0; margin: 0;">CEO</p>
                      <p class="card_name" style="margin-top: 8px;">이용진</p>
                      <hr/>
                      <p class="card_school">광운대학교 행정학 / 컴퓨터소프트웨어</p>
                      <p class="card_message">Witness me!</p>
                   </div>
                 </div>
               </div>
               <div>
                <img class="card_img" src="../static/res/img/people/2/2_pm_LeeJuntaek.jpg"/>
                  <div class="card_bg">
                    <div class="card_txt" style="padding: 50px 27px 10px 27px;">
                      <p style="padding: 0; margin: 0;">COO</p>
                      <p class="card_name" style="margin-top: 8px;">이준택</p>
                      <hr/>
                      <p class="card_school">홍익대학교 산업공학과</p>
                      <p class="card_message">화이팅!</p>
                    </div>
                  </div>
               </div>
               <div>
                <img class="card_img" src="../static/res/img/people/2/2_dev_HeoYunjee.jpg"/>
                <div class="card_bg">
                  <div class="card_txt" style="padding: 50px 27px 10px 27px;">
                    <p style="padding: 0; margin: 0;">CMO</p>
                    <p class="card_name" style="margin-top: 8px;">허윤지</p>
                    <hr/>
                    <p class="card_school">덕성여자대학교 컴퓨터학과</p>
                    <p class="card_message">안녕하세요:)</p>
                  </div>
                </div>
               </div>
               <div>
                <img class="card_img" src="../static/res/img/people/2/2_dev_KimYebon.jpg"/>
                <div class="card_bg">
                  <div class="card_txt" style="padding: 50px 27px 10px 27px;">
                    <p style="padding: 0; margin: 0;">CTO</p>
                    <p class="card_name" style="margin-top: 8px;">김예본</p>
                    <hr/>
                    <p class="card_school">고려대학교 컴퓨터학과</p>
                    <p class="card_message">유령CTO</p>
                  </div>
                </div>
               </div>
               <div>
                <img class="card_img" src="../static/res/img/people/2/2_dev_KimKyeongseo.jpg"/>
                <div class="card_bg">
                  <div class="card_txt" style="padding: 50px 27px 10px 27px;">
                    <p style="padding: 0; margin: 0;">CFO</p>
                    <p class="card_name" style="margin-top: 8px;">김경서</p>
                    <hr/>
                    <p class="card_school">덕성여자대학교 컴퓨터학과</p>
                    <p class="card_message">힘:)</p>
                  </div>
                </div>
               </div>
               <div>
                <img class="card_img" src="../static/res/img/people/2/2_design_KimHyejin.jpg"/>
                <div class="card_bg">
                  <div class="card_txt" style="padding: 50px 27px 10px 27px;">
                    <p style="padding: 0; margin: 0;">CDO</p>
                    <p class="card_name" style="margin-top: 8px;">김혜진</p>
                    <hr/>
                    <p class="card_school">Samsung Art and Design Institute Product Design</p>
                    <p class="card_message">까꿍</p>
                  </div>
                </div>
               </div>
             </div>
            </div>
            <div class="part">
              Project Manager
            </div>
            <div id="peoplecards">
             <div class="card_container">
              <div>
               <img class="card_img" src="../static/res/img/people/3/3_pm_KangMinjeong.jpg"/>
                 <div class="card_bg">
                  <div class="card_txt">
                   <p class="card_name">강민정</p>
                   <hr/>
                   <p class="card_school">홍익대학교 경영학과</p>
                   <p class="card_message">도전</p>
                  </div>
                </div>
              </div>
              <div>
               <img class="card_img" src="../static/res/img/people/3/3_pm_KangUijeong.jpg"/>
                 <div class="card_bg">
                   <div class="card_txt">
                     <p class="card_name">강의정</p>
                     <hr/>
                     <p class="card_school">The University of Minnesota Economics</p>
                     <p class="card_message">Connecting the dots.</p>
                   </div>
                 </div>
              </div>
              <div>
               <img class="card_img" src="../static/res/img/people/3/3_pm_KwonSoonwoo.jpg"/>
                 <div class="card_bg">
                   <div class="card_txt">
                     <p class="card_name">권순우</p>
                     <hr/>
                     <p class="card_school">광운대학교 동북아통상학부</p>
                     <p class="card_message">♥︎</p>
                   </div>
                 </div>
              </div>
              <div>
                <img class="card_img" src="../static/res/img/people/3/3_pm_KimJinsoo.jpg"/>
                  <div class="card_bg">
                    <div class="card_txt">
                      <p class="card_name">김진수</p>
                      <hr/>
                      <p class="card_school">한성대학교 한국어문학부 / CRM</p>
                      <p class="card_message">나의 봄은 너의 웃음 :)</p>
                    </div>
                  </div>
              </div>
              <div>
                <img class="card_img" src="../static/res/img/people/3/3_pm_ParkJongtae.jpg"/>
                  <div class="card_bg">
                    <div class="card_txt">
                      <p class="card_name">박종태</p>
                      <hr/>
                      <p class="card_school">서울대학교	경제학부</p>
                      <p class="card_message">이(this) 멤버 remember</p>
                    </div>
                  </div>
              </div>
              <div>
                <img class="card_img" src="../static/res/img/people/3/3_pm_BaeJihun.jpeg"/>
                  <div class="card_bg">
                    <div class="card_txt">
                      <p class="card_name">배지훈</p>
                      <hr/>
                      <p class="card_school">경희대학교	전자전파공학과</p>
                      <p class="card_message">말하는 대로<br/>될 수 있다고<br/>그대 믿는다면</p>
                    </div>
                  </div>
              </div>
              <div>
                <img class="card_img" src="../static/res/img/people/3/3_pm_SongYosep.jpg"/>
                  <div class="card_bg">
                    <div class="card_txt">
                      <p class="card_name">송요셉 </p>
                      <hr/>
                      <p class="card_school">연세대학교(원주) 국제학부</p>
                      <p class="card_message">Shoot for the moon, even if you miss you will land among stars.</p>
                    </div>
                  </div>
              </div>
              <div>
                <img class="card_img" src="../static/res/img/people/3/3_pm_ShinBobae.jpg"/>
                  <div class="card_bg">
                    <div class="card_txt">
                      <p class="card_name">신보배</p>
                      <hr/>
                      <p class="card_school">숙명여자대학교 앙트러프러너십학과</p>
                      <p class="card_message">REAL 행복한 인생을 위하여</p>
                    </div>
                  </div>
              </div>
              <div>
                <img class="card_img" src="../static/res/img/people/3/3_pm_YuByeonghun.jpg"/>
                  <div class="card_bg">
                    <div class="card_txt">
                      <p class="card_name">유병훈</p>
                      <hr/>
                      <p class="card_school">서울시립대학교	도시공학과</p>
                      <p class="card_message">수동적 하드워커, 맘스터치 좋아함</p>
                    </div>
                  </div>
              </div>
              <div>
                <img class="card_img" src="../static/res/img/people/3/3_pm_YuInyeong.jpg"/>
                  <div class="card_bg">
                    <div class="card_txt">
                      <p class="card_name">유인영</p>
                      <hr/>
                      <p class="card_school">이화여자대학교	경제학과</p>
                      <p class="card_message">배는 항구에 머물러 있을 때 가장 안전하지만, 그것이 배의 존재이유는 아니다</p>
                    </div>
                  </div>
              </div>
            </div>
            </div>
            <div class="part">
             Developer
            </div>
            <div id="peoplecards">
             <div class="card_container">
               <div>
                <img class="card_img" src="../static/res/img/people/3/3_dev_KoHuiwon.jpg"/>
                <div class="card_bg">
                  <div class="card_txt">
                    <p class="card_name">고희원</p>
                    <hr/>
                    <p class="card_school">이화여자대학교	컴퓨터공학과</p>
                    <p class="card_message">대기만성</p>
                  </div>
                </div>
               </div>
               <div>
                <img class="card_img" src="../static/res/img/people/3/3_dev_GuJangwan.jpg"/>
                <div class="card_bg">
                  <div class="card_txt">
                    <p class="card_name">구장완</p>
                    <hr/>
                    <p class="card_school">한양대학교 ERICA	산업경영공학과</p>
                    <p class="card_message">Stay hungry, Stay foolish.</p>
                  </div>
                </div>
               </div>
               <div>
                <img class="card_img" src="../static/res/img/people/3/3_dev_KimDonghui.jpg"/>
                <div class="card_bg">
                  <div class="card_txt">
                    <p class="card_name">김동희</p>
                    <hr/>
                    <p class="card_school">한양대학교	융합전자공학부</p>
                    <p class="card_message">Snooping</p>
                  </div>
                </div>
               </div>
               <div>
                <img class="card_img" src="../static/res/img/people/3/3_dev_KimMinseop.jpg"/>
                <div class="card_bg">
                  <div class="card_txt">
                    <p class="card_name">김민섭</p>
                    <hr/>
                    <p class="card_school">고려대학교	컴퓨터학과</p>
                    <p class="card_message">^し^</p>
                  </div>
                </div>
               </div>
               <div>
                <img class="card_img" src="../static/res/img/people/3/3_dev_KimSangwoo.jpg"/>
                <div class="card_bg">
                  <div class="card_txt">
                    <p class="card_name">김상우</p>
                    <hr/>
                    <p class="card_school">동국대학교	정보통신공학과</p>
                    <p class="card_message">REAL화이팅!</p>
                  </div>
                </div>
               </div>
               <div>
                <img class="card_img" src="../static/res/img/people/3/3_dev_KimYujin.jpeg"/>
                <div class="card_bg">
                  <div class="card_txt">
                    <p class="card_name">김유진</p>
                    <hr/>
                    <p class="card_school">한양대학교 대학원	컴퓨터소프트웨어학과</p>
                    <p class="card_message">ぞぞ</p>
                  </div>
                </div>
               </div>
               <div>
                 <img class="card_img" src="../static/res/img/people/3/3_dev_ParkSeunghyeon.jpg"/>
                   <div class="card_bg">
                     <div class="card_txt">
                       <p class="card_name">박승현</p>
                       <hr/>
                       <p class="card_school">고려대학교 컴퓨터학과</p>
                       <p class="card_message">나은 내일</p>
                     </div>
                   </div>
               </div>
               <div>
                <img class="card_img" src="../static/res/img/people/3/3_dev_ParkChohee.jpg"/>
                <div class="card_bg">
                  <div class="card_txt">
                    <p class="card_name">박초희</p>
                    <hr/>
                    <p class="card_school">덕성여자대학교	컴퓨터학과</p>
                    <p class="card_message">허글라이더의 날개를 달고 ..★</p>
                  </div>
                </div>
               </div>
               <div>
                <img class="card_img" src="../static/res/img/people/3/3_dev_BaekDonghwan.jpg"/>
                <div class="card_bg">
                  <div class="card_txt">
                    <p class="card_name">백동환</p>
                    <hr/>
                    <p class="card_school">인하대학교	컴퓨터정보공학과</p>
                    <p class="card_message">More haste, less speed.</p>
                  </div>
                </div>
               </div>
               <div>
                <img class="card_img" src="../static/res/img/people/3/3_dev_SeongEugene.jpg"/>
                <div class="card_bg">
                  <div class="card_txt">
                    <p class="card_name">성유진</p>
                    <hr/>
                    <p class="card_school">덕성여자대학교	컴퓨터학과</p>
                    <p class="card_message">주님 오늘도 정의로운 코더가 되는것을 허락해주세요☆</p>
                  </div>
                </div>
               </div>
               <div>
                <img class="card_img" src="../static/res/img/people/3/3_dev_SongDowon.jpg"/>
                <div class="card_bg">
                  <div class="card_txt">
                    <p class="card_name">송도원</p>
                    <hr/>
                    <p class="card_school">고려대고려대학교 컴퓨터학과</p>
                    <p class="card_message">아 인생 흥했다</p>
                  </div>
                </div>
               </div>
               <div>
                <img class="card_img" src="../static/res/img/people/3/3_dev_YangHyeri.jpg"/>
                <div class="card_bg">
                  <div class="card_txt">
                    <p class="card_name">양혜리</p>
                    <hr/>
                    <p class="card_school">서울여자대학교	컴퓨터학과</p>
                    <p class="card_message">조금씩 천천히!</p>
                  </div>
                </div>
               </div>
               <div>
                <img class="card_img" src="../static/res/img/people/3/3_dev_WangDaehyeon.jpg"/>
                <div class="card_bg">
                  <div class="card_txt">
                    <p class="card_name">왕대현</p>
                    <hr/>
                    <p class="card_school">동국대학교	정보통신공학과</p>
                    <p class="card_message">real ? real !</p>
                  </div>
                </div>
               </div>
               <div>
                <img class="card_img" src="../static/res/img/people/3/3_dev_YuJaehyo.jpg"/>
                <div class="card_bg">
                  <div class="card_txt">
                    <p class="card_name">유재효</p>
                    <hr/>
                    <p class="card_school">고려대학교 컴퓨터학과</p>
                    <p class="card_message">남부럽지 않게 되도록 열심히 하겠습니다!</p>
                  </div>
                </div>
               </div><div>
                <img class="card_img" src="../static/res/img/people/3/3_dev_LeeDongbin.jpg"/>
                <div class="card_bg">
                  <div class="card_txt">
                    <p class="card_name">이동빈</p>
                    <hr/>
                    <p class="card_school">한양대학교 일반대학원 컴퓨터소프트웨어학과</p>
                    <p class="card_message">정신차려 이각박한세상속에서</p>
                  </div>
                </div>
               </div>
               <div>
                <img class="card_img" src="../static/res/img/people/3/3_dev_LeeInyeong.jpg"/>
                <div class="card_bg">
                  <div class="card_txt">
                    <p class="card_name">이인영</p>
                    <hr/>
                    <p class="card_school">명지대학교	기계산업경영공학부 산업공학과</p>
                    <p class="card_message">2in0  ==  ② ==  을'乙'<br/>2등이 가장 어렵습니다.</p>
                  </div>
                </div>
               </div>
               <div>
                <img class="card_img" src="../static/res/img/people/3/3_dev_LeeJunhyeong.jpg"/>
                <div class="card_bg">
                  <div class="card_txt">
                    <p class="card_name">이준형</p>
                    <hr/>
                    <p class="card_school">광운대학교	전자통신공학과</p>
                    <p class="card_message">넘나 즐거운것~</p>
                  </div>
                </div>
               </div>
               <div>
                <img class="card_img" src="../static/res/img/people/3/3_dev_LeeJimin.jpg"/>
                <div class="card_bg">
                  <div class="card_txt">
                    <p class="card_name">이지민</p>
                    <hr/>
                    <p class="card_school">숙명여자대학교	컴퓨터과학과</p>
                    <p class="card_message">화이팅! 언제나 노력하는 지민입니다.</p>
                  </div>
                </div>
               </div>
               <div>
                <img class="card_img" src="../static/res/img/people/3/3_dev_JangEojin.jpg"/>
                <div class="card_bg">
                  <div class="card_txt">
                    <p class="card_name">장어진</p>
                    <hr/>
                    <p class="card_school">인하대학교	컴퓨터정보공학과</p>
                    <p class="card_message">열심열심,개발자,스키중독자,가수 (ㅇ.,ㅇ)</p>
                  </div>
                </div>
               </div>
               <div>
                <img class="card_img" src="../static/res/img/people/3/3_dev_ChaJeongmin.jpg"/>
                <div class="card_bg">
                  <div class="card_txt">
                    <p class="card_name">차정민</p>
                    <hr/>
                    <p class="card_school">한양대학교	컴퓨터전공</p>
                    <p class="card_message">후회하지 않게 최선을 다하기</p>
                  </div>
                </div>
               </div>
               <div>
                <img class="card_img" src="../static/res/img/people/3/3_dev_ChaeHogyeong.jpg"/>
                <div class="card_bg">
                  <div class="card_txt">
                    <p class="card_name">채호경</p>
                    <hr/>
                    <p class="card_school">고려대학교	컴퓨터학과</p>
                    <p class="card_message">인생 쉽지않네 ^^</p>
                  </div>
                </div>
               </div>
               <div>
                <img class="card_img" src="../static/res/img/people/3/3_dev_ChoiDahui.jpg"/>
                <div class="card_bg">
                  <div class="card_txt">
                    <p class="card_name">최다희</p>
                    <hr/>
                    <p class="card_school">동덕여자대학교	컴퓨터학과</p>
                    <p class="card_message">리얼3기 화이팅?</p>
                  </div>
                </div>
               </div>
               <div>
                <img class="card_img" src="../static/res/img/people/3/3_dev_ChoiCheorin.jpg"/>
                <div class="card_bg">
                  <div class="card_txt">
                    <p class="card_name">최처린</p>
                    <hr/>
                    <p class="card_school">광운대학교 영어영문학과 / 컴퓨터 소프트웨어</p>
                    <p class="card_message">-</p>
                  </div>
                </div>
               </div>
               <div>
                <img class="card_img" src="../static/res/img/people/3/3_dev_ChoiTaeeun.jpg"/>
                <div class="card_bg">
                  <div class="card_txt">
                    <p class="card_name">최태은</p>
                    <hr/>
                    <p class="card_school">성공회대학교 소프트웨어공학과</p>
                    <p class="card_message">까궁</p>
                  </div>
                </div>
               </div>
               <div>
                <img class="card_img" src="../static/res/img/people/3/3_dev_ChoiPyeonggang.jpeg"/>
                <div class="card_bg">
                  <div class="card_txt">
                    <p class="card_name">최평강</p>
                    <hr/>
                    <p class="card_school">상명대학교	컴퓨터과학전공</p>
                    <p class="card_message">개발하기 좋은 밤이에요</p>
                  </div>
                </div>
               </div>
               <div>
                <img class="card_img" src="../static/res/img/people/3/3_dev_HwangYujin.jpg"/>
                <div class="card_bg">
                  <div class="card_txt">
                    <p class="card_name">황유진</p>
                    <hr/>
                    <p class="card_school">동덕여자대학교	컴퓨터학과</p>
                    <p class="card_message">레알 화이팅★</p>
                  </div>
                </div>
               </div>
             </div>
            </div>
            <div class="part">
             Designer
            </div>
            <div id="peoplecards">
             <div class="card_container">
               <div>
                <img class="card_img" src="../static/res/img/people/3/3_design_KimEuro.jpeg"/>
                <div class="card_bg">
                  <div class="card_txt">
                    <p class="card_name">김유로</p>
                    <hr/>
                    <p class="card_school">한국예술종합학교 디자인</p>
                    <p class="card_message">#U-Ro</p>
                  </div>
                </div>
               </div>
               <div>
                <img class="card_img" src="../static/res/img/people/3/3_design_KimHuiwon.jpg"/>
                <div class="card_bg">
                  <div class="card_txt">
                    <p class="card_name">김희원</p>
                    <hr/>
                    <p class="card_school">성신여자대학교	산업디자인과</p>
                    <p class="card_message">:-)</p>
                  </div>
                </div>
               </div>
               <div>
                <img class="card_img" src="../static/res/img/people/3/3_design_NamSangwoo.jpg"/>
                <div class="card_bg">
                  <div class="card_txt">
                    <p class="card_name">남상우</p>
                    <hr/>
                    <p class="card_school">Samsung Art and Design Institute Product Design</p>
                    <p class="card_message">반갑습니다</p>
                  </div>
                </div>
               </div>
               <div>
                <img class="card_img" src="../static/res/img/people/3/3_design_ParkGeonhui.jpg"/>
                <div class="card_bg">
                  <div class="card_txt">
                    <p class="card_name">박건희</p>
                    <hr/>
                    <p class="card_school">서울여자대학교	콘텐츠디자인학과</p>
                    <p class="card_message">오구오구 토닥토닥 :-)</p>
                  </div>
                </div>
               </div>
               <div>
                <img class="card_img" src="../static/res/img/people/3/3_design_SongMingeun.jpg"/>
                <div class="card_bg">
                  <div class="card_txt">
                    <p class="card_name">송민근</p>
                    <hr/>
                    <p class="card_school">상명대학교	시각디자인학과</p>
                    <p class="card_message">부릉부릉</p>
                  </div>
                </div>
               </div>
               <div>
                <img class="card_img" src="../static/res/img/people/3/3_design_LeeYerin.JPG"/>
                <div class="card_bg">
                  <div class="card_txt">
                    <p class="card_name">이예린</p>
                    <hr/>
                    <p class="card_school">성균관대학교 영상학과</p>
                    <p class="card_message">내 이름은 코난 탐정이죠</p>
                  </div>
                </div>
               </div>
               <div>
                <img class="card_img" src="../static/res/img/people/3/3_design_JeongMinseon.jpg"/>
                <div class="card_bg">
                  <div class="card_txt">
                    <p class="card_name">정민선</p>
                    <hr/>
                    <p class="card_school">Samsung Art and Design Institute Product Design</p>
                    <p class="card_message">화이팅 레알 디자인^_^!</p>
                  </div>
                </div>
               </div>
               <div>
                <img class="card_img" src="../static/res/img/people/3/3_design_ChoiAreum.jpg"/>
                <div class="card_bg">
                  <div class="card_txt">
                    <p class="card_name">최아름</p>
                    <hr/>
                    <p class="card_school">서울과학기술대학교	디자인학과 시각디자인전공</p>
                    <p class="card_message">"아이고~ 반갑구먼, 반가워요~!"</p>
                  </div>
                </div>
               </div>
             </div>
            </div>
          </div>
          <!-- END / TAB3 -->
      </div>
      <!-- END / TAB CONTAINER -->
  </div>
</div>
  <!-- END / TERMTAB -->

  <!-- FOOTER -->
  <footer id="copyright" class="copyright-wrapper">
   <div class="copyright">
     <!-- <img src="../static/res/img/logo-normal.png" width="50px" height="50px"/> -->
     <div class="footer_logo_wrapper">
       <a href="/"><img src="../static/res/img/logo-normal.png" class="footer_logo"></a>
     </div>
     <p id="footer_txt">© 2016 by REAL. All Rights Reserved.</p>
   </div>
  </footer>
  <!-- END FOOTER -->

  <script src="../static/js/real_topmenu.js" charset="utf-8"></script>
  <script src="../static/js/real_people.js" charset="utf-8"></script>
</body>
</html>
